* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #f27e7e;
  font-family: "Roboto", sans-serif;
}

#form h1 {
  color: #f2621a;
  font-weight: 700;
  font-size: 29px;
  margin-bottom: 50px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10em 20em;
  padding: 30px;
  border: 2px solid #e30909;
  background-color: #fff;
  border-radius: 30px;
  padding: 100px;
}

#username {
  border-radius: 15px;
  padding: 5px;
}

button {
  margin-top: -34px;
  margin-left: 30em;
  background-color: #cd4b4b;
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  border: 3px solid #cd6643;
  font-weight: 500;
}

button:hover {
  color: #cd4b4b;
  background-color: #fff;
}

label {
  font-size: 25px;
}
