/* designing the random number generator */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: aliceblue;
}

#box {
  margin: 9em 28em;
  /* border: 1px solid #fff; */
  padding: 20px;
  border-radius: 40px;
  box-shadow: 20px 0px 30px 10px #fff;
}

h1 {
  font-size: 28px;
}

#digit {
  text-align: center;
}

#digit span {
  display: block;
  font-size: 8rem;
  color: #ff1064;
}

button {
  margin-left: 7.5em;
  padding: 15px;
  color: #fff;
  background-color: #a84101;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}
