* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  background-color: hsl(302, 76%, 82%);
}

#form {
  display: flex;
  flex-direction: column;
  margin: 2.5em 24em;
  width: 45%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 3em;
  border-radius: 3em;
  border: 15px solid rgb(112, 44, 194);
}

#form h1 {
  color: rgb(112, 44, 194);
}

#c {
  padding: 8px;
}

#color1 {
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#color2 {
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 8px;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(183, 7, 207);
  border: none;
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button:hover {
  color: rgb(227, 23, 227);
  background-color: #fff;
}

#container {
  border: 1px solid rgb(72, 60, 60);
  padding: 50px;
  border-radius: 50px;
}

#containername {
  margin-top: 10px;
  border: 0.5px solid rgb(72, 60, 60);
  padding: 6px;
  border-radius: 10px;
}

span {
  padding: 5px;
  font-size: 23px;
  color: hsl(302, 71%, 68%);
}
