* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 1%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #000;
}

header > h1 {
  color: rgb(255, 25, 101);
  text-transform: capitalize;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

main {
  color: white;
}

#input-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#input-screen-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

label {
  color: rgb(135, 191, 255);
  font-size: 22px;
}

input {
  padding: 4px 1px;
  width: 100px;
  background-color: transparent;
  border: 2px solid rgb(135, 191, 255);
  color: rgb(255, 25, 101);
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
}

button {
  font-size: 25px;
  padding: 4px;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(255, 25, 101);
  box-shadow: 0 0 10px rgb(255, 25, 101);
  cursor: pointer;
}

#input-screen-2 {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h3 {
  margin: 10px 0px;
  color: rgb(135, 191, 255);
}

#input-2-body {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 10px;
}

#input-2-body label {
  color: rgb(135, 191, 255);
  font-size: 18px;
}

#input-2-body input {
  padding: 3px 2px;
  width: 100px;
  background-color: transparent;
  border: 1px solid rgb(239, 5, 196);
  border-radius: 10px;
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
}

#input-screen-3 {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#input-screen-3 span label {
  color: rgb(135, 191, 255);
  font-size: 22px;
}

#input-screen-3 span input {
  padding: 2px 6px;
  width: 100px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid rgb(239, 5, 196);
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
}

input:focus {
  outline: none;
}

#output-screen {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#output-screen p {
  color: blueviolet;
  font-weight: 600;
  font-size: 22px;
}

#output-screen p span {
  color: rgb(255, 25, 101);
}
